.oredersTableRow {
    div {
    display: inline-block;
    }

    .nameCell {
        width: 100px;
    }
    
    .priceCell {
        width: 20px;
    }
    
    .totalPriceCell {
        width: 20px;
    }
}