.productsTableRow {
    div {
    display: inline-block;
    }

    .numberCell {
        width: 30px;
    }

    .nameCell {
        width: 100px;
    }

    .priceCell {
        width: 30px;
    }

    .ingridientsCell {
        width: 200px;
    }
    
    .addCell {
        width: 30px;
    }
}